{% extends "encyclopedia/layout.html" %}
{% block title %}
    Create New Page - Encyclopedia
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>
    <hr> 
    <form method="POST" action="{% url 'create' %}">
        {% csrf_token %}
        <input type="text" name="title" style="width: 100%; margin-bottom: 10px;" placeholder="Title" autocomplete="off"><br>
        <textarea name="description" style="width: 100%; height: 50vh;" placeholder="Descriptions (Use markdown syntax)" autocomplete="off"></textarea>
        <input class="btn btn-secondary" type="submit" value="Create Page">
    </form>
   
  

{% endblock %}